body {
	margin: 0;
	font-family: "Open-Sans", sans-serif;
	background-color: #f2f2f2;
}

.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	margin-bottom: 2rem;
}

.img-container {
	margin-top: 2%;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dog-img {
	width: 45%;
	height: auto;
}

.quote-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-right: 2%;
	margin-left: 2%;
	height: 7rem;
	max-width: 40rem;
}

.quote {
	font-size: 1.25rem;
	text-align: center;
}

.quote-person {
	margin-top: 2%;
	font-size: 1.25rem;
}

.heading-text {
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	width: 80%;
	text-align: center;
	font-size: 1.25rem;
}

.content-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 1rem;
}

.input-box {
	margin-left: 0.5rem;
	width: 1.5rem;
}

.btn-container {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	width: 5rem;
	height: 3rem;
}

.calc-btn {
	height: 100%;
	width: 100%;
	background-color: #d79f6c;
	border: none;
	border-radius: 0.5rem;
	font-weight: bold;
	font-size: 1rem;
}

.error-msg {
	text-align: center;
	color: red;
	font-weight: bold;
	margin-bottom: 1rem;
}

.results-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.result {
	text-align: center;
	margin-bottom: 2%;
}

@media screen and (max-width: 420px) {
	.quote {
		font-size: 1rem;
	}

	.quote-person {
		font-size: 1rem;
	}

	.heading-text {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	.quote-container {
		margin-bottom: 0.25rem;
	}
}
